header {
    display: flex;
    justify-content: center;
    padding: 40px;
    color: white;
    text-transform: uppercase;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 900px;
    position: relative;
}

main > .input-value{
    position: relative;
}

main > #main-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

main > .text-center {
    position: relative;
}

footer {
    color: white;
    text-align: center;
    padding: 40px;
    position: relative;
}